@font-face {
  font-family: 'Impact', sans-serif;
  src: url(../fonts/impact.woff2);
}

body {
  font-family: 'Roboto Condensed', Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #040404;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 915px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.container__header {
  max-width: 1220px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
}

.header {
  padding-top: 25px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  column-gap: 40px;
  padding-top: 25px;
}

.menu__left {
  padding-left: 25px;
}

.menu__right {
  padding-right: 86px;
}

.menu__link {
  color: #363636;
}

.promo {
  background-image: url(../images/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding-top: 100px;
}

.promo__title {
  margin-bottom: 10px;

  font-family: 'Impact', sans-serif;
  font-size: 76px;
  letter-spacing: 0.02em;
}

.promo__subtitle {
  margin-bottom: 10px;
  align-self: center;

  font-family: 'Impact', sans-serif;
  font-size: 48px;

  border-bottom: 1px solid #040404;
}

.promo__date {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: 'Impact', sans-serif;
  font-size: 34px;
  line-height: 34px;

  color: #9F6B08;
}

.promo__location {
  align-self: center;
  color: #363636;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 5px;
}

.promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}

.about__info {
  display: flex;
  column-gap: 20px;
  margin-bottom: 30px;
}

.about__text {
  max-width: 439px;

}

.about__text--bold {
  font-weight: 700;
}

.team__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.team__info {
  padding-right: 86px;
}

.team__text:not(:last-child) {
  margin-bottom: 30px;
}

.team__img {
  max-height: 302px;
}

.schedule {
  padding-top: 66px;
}

.schedule__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.schedule__col {
  flex-basis: 50%;
}

.schedule__info {
  padding-right: 60px;
}

.schedule__table {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  top: 20px;
  
  border-bottom: 1px solid #040404;
}

.schedule__table::before {
  content: '';
  position: absolute;
  width: 100%;
  top: -20px;
  border-top: 1px solid #040404;
}

.schedule__td {
  padding-bottom: 20px;
}

.track {
  padding-top: 0;
  padding-bottom: 0;
  background-image: url(../images/bg-track.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.track__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 47px;
}

.track__info {
  max-width: 435px;
}

.track__img {
  margin-top: auto;
  max-width: 735px;
  align-self: center;
  margin-bottom: 100px;
}

.evo {
  padding-top: 0;
}

.evo-black {
  background-color: #363636;
  color: #fff;
}

.evo-black__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
}

.evo__description {
  flex-basis: 437px;
}

.evo__info {
  display: flex;
}

.evo__title {
  margin-right: 192px;
}

.evo__text {
  margin-bottom: 30px;
}

.evo__img {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 725px;
}

.evo__dl {
  display: flex;
  justify-content: space-between;
}

.evo-white__text {
  margin-bottom: 30px;
}

.video {
  padding-top: 0;
}

.video__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 263px;

  background-image: url(../images/video.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video__link {
  text-align: center;
  color: #fff;
}

.video__img {
  max-width: 37px;
}