@font-face {
  font-family: 'Impact', sans-serif;
  src: url(../fonts/impact.woff2);
}

body {
  font-family: 'Roboto Condensed', Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16;
  line-height: 1.2;
  color: #040404;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.header {
  padding-top: 25px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  column-gap: 40px;
  padding-top: 25px;
}

.menu__left {
  padding-left: 25px;
}

.menu__right {
  padding-right: 86px;
}

.menu__link {
  color: #363636;
}

.promo {
  background-image: url(../images/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding-top: 100px;
}

.promo__title {
  margin-bottom: 10px;

  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 76px;
  letter-spacing: 0.02em;
}

.promo__subtitle {
  margin-bottom: 10px;
  align-self: center;

  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 48px;

  border-bottom: 1px solid #040404;
}

.promo__date {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;

  color: #9F6B08;
}

.promo__location {
  align-self: center;
  color: #363636;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 5px;
}

.promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}